.DS_Store
.ruby-lsp/

.env*
!.env.example
*.pem
core/config/master.key

__pycache__/
.venv/
*.pyc
eval_service/data/

core/.bundle/
core/log/*
!core/log/.keep
core/tmp/*
!core/tmp/.keep
core/tmp/pids/*
!core/tmp/pids/.keep
core/storage/*
!core/storage/.keep
core/public/assets

*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
